{% extends 'base.html.twig' %}

{% block body %}
    <div class="container white">
        <h1>Thought</h1>

        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ thought.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ thought.author }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ thought.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ thought.content }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>{{ thought.categories }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ thought.email }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if thought.visible %}Yes{% else %}No{% endif %}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col s12 m4">
                <a href="{{ path('thoughts_index') }}" class="btnShow waves-effect waves-light btn blue">Back to the
                    list</a>
            </div>
            <div class="col s12 m4">
                <a href="{{ path('thoughts_edit', { 'id': thought.id }) }}"
                   class="btnShow waves-effect waves-light btn green">Edit</a>
            </div>
            <div class="col s12 m4">
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btnShow waves-effect waves-light btn red">
                {{ form_end(delete_form) }}
            </div>
        </div>

    </div>
{% endblock %}
