<!DOCTYPE html>


<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Agora{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Righteous|Sahitya" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    </head>
    <body>


    {% block navbar %}
        {{ include('partials/navbar.html.twig') }}

    {% endblock %}
    {{ include('partials/modal.html.twig') }}

    {% block body %}




    {% endblock %}



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/script/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/script/app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
