{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="center white-text">Poster votre pensée</h1>
    <div class="container section white">
        {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form_widget(form.author) }}
                        {{ form_errors(form.author) }}
                        <label for="pseudo">Pseudo</label>
                    </div>
                    <div class="input-field col s12 m6">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                        <label for="title">Titre</label>
                    </div>
                    <div class="input-field col s12 m6">
                        {{ form_widget(form.categories) }}
                        {{ form_errors(form.categories) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(form.content, { 'attr': {'class': 'materialize-textarea'} }) }}
                        {{ form_errors(form.content) }}
                        <label for="content">Pensée</label>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col s12 center">
                        <button class="btn-large waves-effect waves-light orange darken-3" type="submit" name="action">Poster
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
